<p id="notice"><%= notice %></p>

<h1>Humen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Height</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @humen.each do |human| %>
      <tr>
        <td><%= human.name %></td>
        <td><%= human.age %></td>
        <td><%= human.height %></td>
        <td><%= human.gender %></td>
        <td><%= link_to 'Show', human %></td>
        <td><%= link_to 'Edit', edit_human_path(human) %></td>
        <td><%= link_to 'Destroy', human, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Human', new_human_path %>
