<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @human.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @human.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @human.height %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @human.gender %>
</p>

<%= link_to 'Edit', edit_human_path(@human) %> |
<%= link_to 'Back', humen_path %>
